<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>My CRUD in NodeJS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="localhost:3000/gui" target="_blank">Guilherme's CRUD</a>
    <a class="navbar-brand" href="/dio">Cadastro</a>
  </nav>
  <div class="container">
    <div class="h1 text-center">CRUD do Diogenes:</div>
    <div class="tooltip-inner">Registros</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <td class="col">Nome</td>
          <td class="col">Publisher</td>
          <td class="col">Desenvolvedora</td>
          <td class="col">Lancamento</td>
          <td class="col">Preço</td>
          <td class="col">Tipo</td>
          <td class="col">Lingua</td>
          <td class="col">Ação</td>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(details) { %>
        <tr>
          <td><%= details.name %></td>
          <td><%= details.publisher %></td>
          <td><%= details.desenvolvedora %></td>
          <td><%= details.preco %></td>
          <td><%= details.nota %></td>
          <td><%= details.tipo %></td>
          <td><%= details.lingua %></td>
          <td>
            <span style="display: flex; flex-direction: row">
              <a class="btn btn-warning" href="/dio/edit/<%= details._id %>">Editar</a>
              <span style="padding: 10px"> </span>
              <a class="btn btn-danger" href="/dio/delete/<%= details._id %>">Deletar</a>
            </span>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <a class="btn btn-primary" href="/">Novo</a>
  </div>
</body>

</html>