<div>
  <h1>{{ title }}</h1>
  <ul>
    {{#each dados}}
    <div>
      <div class="container-line">
        <span class="line">
          <h2>{{@key}}</h2>
          <h2>{{this.name}}</h2>
          <h2>{{this.email}}</h2>
          <h2>{{this.sobrenome}}</h2>
        </span>
        <a href="http://localhost:4000/api/edit/{{this.id}}" class="card-link">Editar</a>
        <a href="http://localhost:4000/api/delete/{{this.id}}" class="card-link">Deletar</a>
      </div>
    </div>
    {{/each}}
  </ul>

  <div>
    <a href="http://localhost:4000/api/register">Cadastrar</a>
  </div>
</div>


<style>
  .line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 0.5px gray;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    margin: auto 10px;
    padding: auto 10px;
  }

  .container-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 0.5px gray;
    border-radius: 5px;
    width: 100%;
    height: 80px;
  }
</style>